---
layout: ""
page_title: "Provider: RHOAS"
description: |-
  The RHOAS provider provides resources to interact with Red Hat OpenShift Application Services.
---

# RHOAS Provider

The RHOAS provider provides resources to interact with Red Hat OpenShift Application Services.

OpenShift Streams for Apache Kafka is a managed cloud service for streaming data that reduces the operational cost and complexity of delivering real-time applications across hybrid-cloud environments.

## Example Usage

{{tffile "examples/provider/main.tf"}}

{{ .SchemaMarkdown | trimspace }}